apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingressgateway
  namespace: argocd
spec:
  source:
    helm:
      values: |
        service:
          type: NodePort
          ports:
            - name: status-port
              port: 15021
              targetPort: 15021
              nodePort: 30021
              protocol: TCP
            - name: http
              port: 8080
              targetPort: 8080
              nodePort: 30080
              protocol: TCP
