apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
spec:
  template:
    spec:
      containers:
        - name: transaction-service
          image: transaction-service:latest
          imagePullPolicy: Never
