# Istio ingress gateway chart values
# Base configuration

autoscaling:
  enabled: false

replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 2000m
    memory: 1024Mi
