repositories:
  - name: istio
    url: https://istio-release.storage.googleapis.com/charts

releases:
  - name: istio-base
    namespace: istio-system
    chart: istio/base
    version: 1.24.2
    values:
      - base/istio/values-base.yaml

  - name: istiod
    namespace: istio-system
    chart: istio/istiod
    version: 1.24.2
    values:
      - base/istio/values-istiod.yaml
    needs:
      - istio-base

  - name: istio-ingressgateway
    namespace: istio-system
    chart: istio/gateway
    version: 1.24.2
    values:
      - base/istio/values-gateway.yaml
      - overlays/{{ .Environment.Name }}/istio/values-gateway.yaml
    needs:
      - istiod

environments:
  local:
    values:
      - environment: local
